/* Image Preloading for Home Page */
#preload-images {
	background: url(../img/preload-page-no-logo.png) no-repeat -9999px -9999px;
	background: url(../img/preload-page-no-logo.png) no-repeat -9999px -9999px,
	    url(../img/home-page.png) no-repeat -9999px -9999px,	
	    url(../img/happy_ocean-loading.gif) no-repeat -9999px -9999px,	
	    url(../img/map.png) no-repeat -9999px -9999px,
	    url(../img/map-icon.png) no-repeat -9999px -9999px,	
	    url(../img/turtle.gif) no-repeat -9999px -9999px,	    
	    url(../img/mascots.gif) no-repeat -9999px -9999px,	
	    url(../img/albatross.gif) no-repeat -9999px -9999px,	    
	    url(../img/mascots-still.png) no-repeat -9999px -9999px,	 
	    url(../img/fish.png) no-repeat -9999px -9999px,	    
	    url(../img/turtle-still.png) no-repeat -9999px -9999px,	    	    
	    url(../img/tothebeach.png) no-repeat -9999px -9999px, 	    
	    url(../img/about-brochure.png) no-repeat -9999px -9999px,
	    url(../img/icon-email.png) no-repeat -9999px -9999px,
	    url(../img/icon-facebook.png) no-repeat -9999px -9999px,
	    url(../img/icon-instagram.png) no-repeat -9999px -9999px,
	    url(../img/icon-twitter.png) no-repeat -9999px -9999px,	    
	    url(../img/resources.png) no-repeat -9999px -9999px,
	    url(../img/boardwalk.png) no-repeat -9999px -9999px,
	    url(../img/info.png) no-repeat -9999px -9999px,
	    url(../img/brochure-our-reps.png) no-repeat -9999px -9999px,	
	    url(../img/brochure-our-reps-closed.png) no-repeat -9999px -9999px,
	    url(../img/brochure-plastics.png) no-repeat -9999px -9999px,
	    url(../img/brochure-plastics-closed.png) no-repeat -9999px -9999px,
	    url(../img/brochure-recycling.png) no-repeat -9999px -9999px,
	    url(../img/brochure-recycling-closed.png) no-repeat -9999px -9999px,
	    url(../img/whale-scene.png) no-repeat -9999px -9999px,
	    url(../img/whale.png) no-repeat -9999px -9999px,
	    url(../img/whale-6pack.png) no-repeat -9999px -9999px,
	    url(../img/whale-aluminum.png) no-repeat -9999px -9999px,
	    url(../img/whale-bottle.png) no-repeat -9999px -9999px,
	    url(../img/whale-box.png) no-repeat -9999px -9999px,
	    url(../img/whale-carton.png) no-repeat -9999px -9999px,
	    url(../img/whale-cigarettes.png) no-repeat -9999px -9999px,
	    url(../img/whale-coffee.png) no-repeat -9999px -9999px,
	    url(../img/whale-diaper.png) no-repeat -9999px -9999px,
	    url(../img/whale-fishing.png) no-repeat -9999px -9999px,
	    url(../img/whale-floaty.png) no-repeat -9999px -9999px,
	    url(../img/whale-newspaper.png) no-repeat -9999px -9999px,
	    url(../img/whale-papertowels.png) no-repeat -9999px -9999px,
	    url(../img/whale-plasticbag.png) no-repeat -9999px -9999px,
	    url(../img/whale-plasticbottle.png) no-repeat -9999px -9999px,
	    url(../img/whale-plasticcup.png) no-repeat -9999px -9999px,
	    url(../img/whale-plywood.png) no-repeat -9999px -9999px,
	    url(../img/whale-pods.png) no-repeat -9999px -9999px,
	    url(../img/whale-steel.png) no-repeat -9999px -9999px,
	    url(../img/whale-straws.png) no-repeat -9999px -9999px,
	    url(../img/whale-styro.png) no-repeat -9999px -9999px,
	    url(../img/whale-toothbrush.png) no-repeat -9999px -9999px,
	    url(../img/submarine.png) no-repeat -9999px -9999px,
	    url(../img/whale-floor.png) no-repeat -9999px -9999px,
	    url(../img/fish-scene.png) no-repeat -9999px -9999px,	    
	    url(../img/fish-scene-with-reef.png) no-repeat -9999px -9999px,
	    url(../img/sergeant-major.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-beads.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-fibers.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-foam.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-fragments.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-haze.png) no-repeat -9999px -9999px,
	    url(../img/fish-micro-nurdles.png) no-repeat -9999px -9999px,
	    url(../img/fish-microbeads-popup.png) no-repeat -9999px -9999px,
	    url(../img/fish-microfibers-popup.png) no-repeat -9999px -9999px,
	    url(../img/fish-microfoam-popup.png) no-repeat -9999px -9999px,
	    url(../img/fish-microfragments-popup.png) no-repeat -9999px -9999px,
	    url(../img/fish-micronurdles-popup.png) no-repeat -9999px -9999px,
	    url(../img/fish-microparticles-popup.png) no-repeat -9999px -9999px,
	    url(../img/net-cursor.png) no-repeat -9999px -9999px,
	    url(../img/fish-seaweed.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-scene.png) no-repeat -9999px -9999px,	
	    url(../img/seaturtle-kite.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-sad.png) no-repeat -9999px -9999px,
	    url(../img/recycle-cans.png) no-repeat -9999px -9999px,
	    url(../img/recycle-glass.png) no-repeat -9999px -9999px,
	    url(../img/recycle-paper.png) no-repeat -9999px -9999px,
	    url(../img/recycle-plastic.png) no-repeat -9999px -9999px,
	    url(../img/recycle-waste.png) no-repeat -9999px -9999px,
	    url(../img/id-albatross.png) no-repeat -9999px -9999px,
	    url(../img/id-bg.png) no-repeat -9999px -9999px,
	    url(../img/id-fish.png) no-repeat -9999px -9999px,
	    url(../img/id-sealion.png) no-repeat -9999px -9999px,
	    url(../img/id-seaturtle.png) no-repeat -9999px -9999px,
	    url(../img/id-whale.png) no-repeat -9999px -9999px,
/* SEA TURTLE TRASH ITEMS */
	    url(../img/seaturtle-trash/can-01.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/can-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/can-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/can-04.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/can-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/can-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/can-07.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/can-08.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/can-09.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-01.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/glass-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-04.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/glass-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-07.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/glass-08.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-09.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/glass-10.png) no-repeat -9999px -9999px,  
	    url(../img/seaturtle-trash/glass-11.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-01.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-04.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-07.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-08.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-09.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-10.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-11.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/paper-12.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-01.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-04.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/plastic-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-04.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-07.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-08.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-09.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-10.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-11.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-12.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-13.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-14.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-15.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-16.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-17.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-18.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-19.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-20.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-21.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-22.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/tote-23.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-01.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-02.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-03.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-04.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-05.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-06.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-trash/waste-07.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-cans.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-glass.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-paper.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-plastic.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-tote.png) no-repeat -9999px -9999px,
	    url(../img/seaturtle-popup-waste.png) no-repeat -9999px -9999px,

	    url(../img/sealion-scene.png) no-repeat -9999px -9999px,
	    url(../img/sealion.png) no-repeat -9999px -9999px,
	    url(../img/sealion-scene-bucket.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-bottle.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-fruit.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-lunchbag.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-tools.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-towel.png) no-repeat -9999px -9999px,
	    url(../img/sealion-item-waxed.png) no-repeat -9999px -9999px,
	    url(../img/sealion-tote-closed.png) no-repeat -9999px -9999px,
	    url(../img/sealion-tote-open.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandbase.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-01.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-02.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-03.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-04.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-05.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-06.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-07.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-08.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-09.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-10.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-11.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-12.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-13.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-14.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-15.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-16.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-17.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-18.png) no-repeat -9999px -9999px,
	    url(../img/sealion-sandcastle/sandcastle-19.png) no-repeat -9999px -9999px,
	    url(../img/gold-star.png) no-repeat -9999px -9999px,
	    url(../img/otter-1.png) no-repeat -9999px -9999px,	 
	    url(../img/hammerhead.gif) no-repeat -9999px -9999px,	
	    url(../img/seahorse.png) no-repeat -9999px -9999px,	               	    
	    url(../img/trash-straws.png) no-repeat -9999px -9999px,
	    url(../img/bottle.png) no-repeat -9999px -9999px,	
	    url(../img/bottlecaps.png) no-repeat -9999px -9999px,
	    url(../img/bulletin-board.png) no-repeat -9999px -9999px,	    
	    url(../img/wrappers.png) no-repeat -9999px -9999px,	    
	    url(../img/shells-1.png) no-repeat -9999px -9999px,
	    url(../img/shells-1-colored.png) no-repeat -9999px -9999px,	
	    url(../img/shells-2.png) no-repeat -9999px -9999px,	
	    url(../img/shells-2-colored.png) no-repeat -9999px -9999px,
	    url(../img/6-pack.png) no-repeat -9999px -9999px,
	    url(../img/tote.png) no-repeat -9999px -9999px,   
	    url(../img/net.png) no-repeat -9999px -9999px,
	    url(../img/styrofoam.png) no-repeat -9999px -9999px,
	    url(../img/small-plastics.png) no-repeat -9999px -9999px,	
	    url(../img/beachball.png) no-repeat -9999px -9999px,
	    url(../img/beachball-colored.png) no-repeat -9999px -9999px,	
	    url(../img/albatross.png) no-repeat -9999px -9999px,
	    url(../img/albatross-colored.png) no-repeat -9999px -9999px,	    
	    url(../img/albatross-scene.png) no-repeat -9999px -9999px,
	    url(../img/albatross-scene-colored.png) no-repeat -9999px -9999px,	     
	    url(../img/crab.png) no-repeat -9999px -9999px,
	    url(../img/conch.png) no-repeat -9999px -9999px,
	    url(../img/conch-colored.png) no-repeat -9999px -9999px,	    	    
	    url(../img/crab-colored.png) no-repeat -9999px -9999px;
}

/* Preloader Page */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 480px;
	z-index: 9999;
	background-color: #FFF;
	background-image: url('../img/preload-page-no-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.loading-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;	
	z-index: 99999;
}

.loading-gif {
	width: 500px;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

.loading-gif img {
	max-width: 100%;
}