/* MEDIA QUERIES */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Source+Sans+Pro:400,700,900");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

:focus {
  outline: none; }

html {
  font-size: 16px; }

body {
  position: relative;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  background-color: white;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25rem; }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 1.75rem; } }
@media screen and (min-width: 1680px) {
  h1 {
    font-size: 2.5rem; } }
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

@media screen and (min-width: 1366px) {
  h2 {
    font-size: 1.75rem; } }
h3 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.06rem; }

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.03rem;
  font-style: italic; }

h5 {
  font-size: 0.6125rem;
  letter-spacing: 0.015rem; }

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", serif;
  padding: 1rem 0; }

h3, h5 {
  font-weight: 700; }

p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 1.6; }

a:link {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.125rem; }

/* PAGE FADE-IN EFFECT */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.home, .resources, .shop, .albatross, .sealion, .seaturtle, .fish, .whale {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.home {
  background-image: url(../img/home-page.png); }

.resources {
  background-image: url(../img/resources.png); }

.shop {
  background-image: url(../img/boardwalk.png); }

.albatross {
  background-image: url(../img/albatross-scene.png); }

.fish {
  background-image: url(../img/fish-scene.png);
  background-color: #358b9c; }

.whale {
  background-image: url(../img/whale-scene.png); }

.sealion {
  background-image: url(../img/sealion-scene.png); }

.seaturtle {
  background-image: url(../img/seaturtle-scene.png); }

.infoboard {
  width: 565px;
  position: absolute;
  right: 15%;
  bottom: 0;
  margin-bottom: 50px; }
  @media screen and (min-width: 1024px) {
    .infoboard {
      width: 280px; } }
  @media screen and (min-width: 1366px) {
    .infoboard {
      width: 374px; } }
  @media screen and (min-width: 1440px) {
    .infoboard {
      width: 394px; } }
  @media screen and (min-width: 1680px) {
    .infoboard {
      width: 459px; } }
  @media screen and (min-width: 1920px) {
    .infoboard {
      width: 525px; } }

.infoboard img {
  max-width: 100%; }

.nav {
  position: relative;
  width: 100px;
  cursor: pointer; }

.map-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
  z-index: 10; }

.map-icon img {
  max-width: 100%; }

.centered {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center; }

.mascots {
  margin-top: 30px; }
  @media screen and (min-width: 1024px) {
    .mascots {
      width: 640px;
      height: auto; } }
  @media screen and (min-width: 1366px) {
    .mascots {
      width: 854px; } }
  @media screen and (min-width: 1440px) {
    .mascots {
      width: 900px;
      margin-top: 35px; } }
  @media screen and (min-width: 1680px) {
    .mascots {
      width: 1050px;
      margin-top: 30px; } }
  @media screen and (min-width: 1920px) {
    .mascots {
      width: 1200px; } }

.mascots img {
  max-width: 100%; }

.rightplacement {
  position: absolute;
  right: 80px;
  bottom: 40px;
  width: 234px; }
  @media screen and (min-width: 1024px) {
    .rightplacement {
      width: 120px; } }
  @media screen and (min-width: 1440px) {
    .rightplacement {
      width: 180px; } }
  @media screen and (min-width: 1680px) {
    .rightplacement {
      width: 180px; } }
  @media screen and (min-width: 1920px) {
    .rightplacement {
      width: 234px; } }

.rightplacement img {
  max-width: 100%; }

.turtle-animation {
  position: absolute; }
  @media screen and (min-width: 1024px) {
    .turtle-animation {
      width: 96px;
      bottom: 55%;
      right: 35%;
      transform: translate(-35%, 55%); } }
  @media screen and (min-width: 1366px) {
    .turtle-animation {
      width: 128px;
      bottom: 38%;
      right: 35%;
      transform: translate(-35%, 38%); } }
  @media screen and (min-width: 1440px) {
    .turtle-animation {
      width: 135px;
      bottom: 45%;
      right: 35%;
      transform: translate(-35%, 45%); } }
  @media screen and (min-width: 1680px) {
    .turtle-animation {
      width: 158px;
      bottom: 47%;
      right: 35%;
      transform: translate(-35%, 47%); } }
  @media screen and (min-width: 1920px) {
    .turtle-animation {
      width: 180px;
      bottom: 39%;
      right: 35%;
      transform: translate(-35%, 39%); } }

.turtle-animation img {
  max-width: 100%; }

.logo {
  position: absolute;
  width: 375px;
  top: 190px;
  left: 150px; }
  @media screen and (min-width: 1440px) {
    .logo {
      width: 450px;
      top: 235px;
      left: 200px; } }
  @media screen and (min-width: 1680px) {
    .logo {
      width: 500px;
      top: 250px;
      left: 200px; } }
  @media screen and (min-width: 1920px) {
    .logo {
      width: 600px;
      top: 300px;
      left: 225px; } }

.logo img {
  max-width: 100%; }

#seahorse {
  position: absolute;
  left: -1200px;
  bottom: 50px;
  animation: seahorseSkating 12s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: seahorseSkating 12s;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards; }
  @media screen and (min-width: 1024px) {
    #seahorse {
      width: 68px; } }
  @media screen and (min-width: 1366px) {
    #seahorse {
      width: 91px; } }
  @media screen and (min-width: 1440px) {
    #seahorse {
      width: 96px; } }
  @media screen and (min-width: 1680px) {
    #seahorse {
      width: 112px; } }
  @media screen and (min-width: 1920px) {
    #seahorse {
      width: 128px; } }

@keyframes seahorseSkating {
  0% {
    left: -200px;
    bottom: 50px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  50% {
    left: 110%;
    bottom: 25px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  54% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  55% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  100% {
    left: 80%;
    bottom: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); } }
#fish {
  position: absolute;
  left: -1200px; }
  @media screen and (min-width: 1024px) {
    #fish {
      width: 107px;
      top: 42%;
      transform: translateY(-42%); } }
  @media screen and (min-width: 1366px) {
    #fish {
      width: 142px;
      top: 58%;
      transform: translateY(-58%); } }
  @media screen and (min-width: 1440px) {
    #fish {
      top: 360px;
      width: 150px;
      top: 53%;
      transform: translateY(-53%); } }
  @media screen and (min-width: 1680px) {
    #fish {
      width: 175px;
      top: 50%;
      transform: translateY(-50%); } }
  @media screen and (min-width: 1920px) {
    #fish {
      width: 200px;
      height: 245px;
      top: 58%;
      transform: translateY(-58%); } }

#fish img, .fish img {
  max-width: 100%; }

.pinwheel-animation {
  position: absolute; }
  @media screen and (min-width: 1024px) {
    .pinwheel-animation {
      width: 101px;
      top: 55px;
      right: 30%;
      transform: translateX(-30%); } }
  @media screen and (min-width: 1366px) {
    .pinwheel-animation {
      width: 135px;
      top: 62px; } }
  @media screen and (min-width: 1440px) {
    .pinwheel-animation {
      width: 142px;
      top: 69px; } }
  @media screen and (min-width: 1680px) {
    .pinwheel-animation {
      width: 166px; } }
  @media screen and (min-width: 1920px) {
    .pinwheel-animation {
      top: 75px;
      width: 190px; } }

.pinwheel-animation img {
  max-width: 100%; }

.shark {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%); }
  @media screen and (min-width: 1024px) {
    .shark {
      width: 293px; } }
  @media screen and (min-width: 1366px) {
    .shark {
      width: 391px; } }
  @media screen and (min-width: 1440px) {
    .shark {
      width: 413px; } }
  @media screen and (min-width: 1680px) {
    .shark {
      width: 481px; } }
  @media screen and (min-width: 1920px) {
    .shark {
      width: 550px; } }

.shark img {
  max-width: 100%; }

/* MAP NAV */
.sidenav, .brochure {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 9999;
  top: 0;
  left: 0;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  transition: 0.5s;
  padding: 1rem 0; }
  @media screen and (min-width: 1366px) {
    .sidenav, .brochure {
      background-size: cover; } }

#list, #aboutlist {
  display: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 9998;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); }

.map-areas {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto; }

.map-list {
  position: absolute;
  left: 82%;
  top: 18.42%;
  width: 11.5%;
  height: 50vh;
  z-index: 2;
  list-style-type: none; }

.map-list a, .brochure a {
  color: black; }

.map-list a:hover, .brochure a:hover {
  color: #00ced1; }

.map-list p {
  font-size: 0.9rem; }

#closebtn, #aboutclosebtn {
  position: absolute;
  transform: translate(-92%, -9%);
  width: 2rem;
  height: 2rem;
  z-index: 2;
  color: #3d7494; }
  @media screen and (min-width: 1024px) {
    #closebtn, #aboutclosebtn {
      left: 95%;
      top: 18%;
      font-size: 1.5rem; } }
  @media screen and (min-width: 1025px) and (max-width: 1365px) {
    #closebtn, #aboutclosebtn {
      left: 95%;
      top: 15%; } }
  @media screen and (min-width: 1366px) {
    #closebtn, #aboutclosebtn {
      top: 8%; } }
  @media screen and (min-width: 1440px) {
    #closebtn, #aboutclosebtn {
      left: 95%;
      top: 12%; } }
  @media screen and (min-width: 1680px) {
    #closebtn, #aboutclosebtn {
      left: 96%;
      top: 11%;
      font-size: 1.75rem; } }
  @media screen and (min-width: 1920px) {
    #closebtn, #aboutclosebtn {
      left: 94%;
      top: 9%;
      font-size: 2rem; } }

.brochure {
  background-image: url(../img/about-brochure.png); }

/* SCENES */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.tooltip {
  position: relative; }

.tooltiptext {
  display: none;
  background-color: white;
  color: black;
  border: 3px solid #00ced1;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  border-radius: 6px;
  padding: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 9999; }
  @media screen and (min-width: 1024px) {
    .tooltiptext {
      width: calc(500px * .53333); } }
  @media screen and (min-width: 1366px) {
    .tooltiptext {
      width: calc(500px * .71145); } }
  @media screen and (min-width: 1440px) {
    .tooltiptext {
      width: calc(500px * .75); } }
  @media screen and (min-width: 1680px) {
    .tooltiptext {
      width: calc(500px * .875); } }
  @media screen and (min-width: 1920px) {
    .tooltiptext {
      width: 500px; } }

.tooltiptext a {
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.015rem; }

.tooltiptext a:link {
  color: #00ced1; }

.tooltiptext a:visited {
  color: black; }

.tooltiptext a:hover {
  color: #f08080; }

.tooltiptext a:active {
  color: black; }

#tooltipStraws, #tooltipWrappers, #tooltipNet, #tooltip6Pack, #tooltipSmallPlastics, #tooltipFoam {
  z-index: 9999; }

.tooltip-close-position {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem; }

.scene img {
  max-width: 100%; }

.icon {
  height: 2rem;
  width: auto; }

.signature {
  float: right; }

.signature:after {
  clear: right; }

.allDone, .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9997;
  padding: 2rem;
  border: 3px solid #00ced1;
  border-radius: 6px; }

@media screen and (min-width: 1024px) {
  .allDone {
    width: calc(600px * .53333); } }
@media screen and (min-width: 1366px) {
  .allDone {
    width: calc(600px * .71145); } }
@media screen and (min-width: 1440px) {
  .allDone {
    width: calc(600px * .75); } }
@media screen and (min-width: 1680px) {
  .allDone {
    width: calc(600px * .875); } }
@media screen and (min-width: 1920px) {
  .allDone {
    width: 600px; } }

.popup {
  height: auto; }
  @media screen and (min-width: 1024px) {
    .popup {
      width: calc(800px * .53333); } }
  @media screen and (min-width: 1366px) {
    .popup {
      width: calc(800px * .71145); } }
  @media screen and (min-width: 1440px) {
    .popup {
      width: calc(800px * .75); } }
  @media screen and (min-width: 1680px) {
    .popup {
      width: calc(800px * .875); } }
  @media screen and (min-width: 1920px) {
    .popup {
      width: 800px; } }

.popup-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

.popup-mascot {
  position: absolute;
  top: -75px;
  left: -225px;
  height: auto; }
  @media screen and (min-width: 1024px) {
    .popup-mascot {
      width: calc(400px * .75); } }
  @media screen and (min-width: 1366px) {
    .popup-mascot {
      width: calc(400px * .80); } }
  @media screen and (min-width: 1680px) {
    .popup-mascot {
      width: calc(400px * .9); } }
  @media screen and (min-width: 1920px) {
    .popup-mascot {
      width: 400px; } }

.popup-content {
  width: 80%;
  float: right;
  padding: 2rem 4rem; }

.popup-content-list {
  list-style-type: none; }

.popup-content-list li a {
  font-size: 0.95rem; }

.popup-content-list li a:hover {
  color: #00ced1; }

.popup-content h3 {
  padding-bottom: 0.5rem; }

.popup-content h4 {
  font-style: normal;
  font-size: 0.95rem;
  text-transform: uppercase;
  padding: 0; }

.allDone {
  display: none;
  padding: 2rem 4rem; }

.allDone a, .popup a {
  color: black;
  font-size: 1.5rem; }

.popupclosebutton {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: black; }

.right-side {
  position: absolute;
  right: 1rem;
  bottom: 1rem; }

.albatross-position {
  position: absolute;
  bottom: 7%;
  right: 5%;
  width: 572px;
  transform: translate(-5%, -7%); }
  @media screen and (min-width: 1024px) {
    .albatross-position {
      width: 305px; } }
  @media screen and (min-width: 1366px) {
    .albatross-position {
      width: 407px; } }
  @media screen and (min-width: 1440px) {
    .albatross-position {
      width: 429px; } }
  @media screen and (min-width: 1680px) {
    .albatross-position {
      width: 500px; } }
  @media screen and (min-width: 1920px) {
    .albatross-position {
      bottom: 20%;
      right: 5%;
      width: 572px; } }

.crab-position {
  width: 163px;
  position: absolute;
  top: 85%;
  left: 60%;
  transform: translate(-60%, -85%); }
  @media screen and (min-width: 1024px) {
    .crab-position {
      width: 87px; } }
  @media screen and (min-width: 1366px) {
    .crab-position {
      width: 116px; } }
  @media screen and (min-width: 1440px) {
    .crab-position {
      width: 122px; } }
  @media screen and (min-width: 1680px) {
    .crab-position {
      width: 143px; } }
  @media screen and (min-width: 1920px) {
    .crab-position {
      width: 163px; } }

.beachball-position {
  position: absolute;
  bottom: 20%;
  right: 40%;
  width: 374px;
  transform: translate(-40%, -20%); }
  @media screen and (min-width: 1024px) {
    .beachball-position {
      width: 200px; } }
  @media screen and (min-width: 1366px) {
    .beachball-position {
      width: 266px; } }
  @media screen and (min-width: 1440px) {
    .beachball-position {
      width: 280px; } }
  @media screen and (min-width: 1680px) {
    .beachball-position {
      width: 327px; } }
  @media screen and (min-width: 1920px) {
    .beachball-position {
      width: 374px; } }

.shell-1-position {
  position: absolute;
  bottom: 10%;
  left: 30%;
  transform: translate(-30%, -10%); }
  @media screen and (min-width: 1024px) {
    .shell-1-position {
      width: 117px; } }
  @media screen and (min-width: 1366px) {
    .shell-1-position {
      width: 157px; } }
  @media screen and (min-width: 1440px) {
    .shell-1-position {
      width: 165px; } }
  @media screen and (min-width: 1680px) {
    .shell-1-position {
      width: 193px; } }
  @media screen and (min-width: 1920px) {
    .shell-1-position {
      width: 220px; } }

.shell-2-position {
  position: absolute;
  right: 5%;
  bottom: 7%;
  transform: translate(-5%, -7%); }
  @media screen and (min-width: 1024px) {
    .shell-2-position {
      width: 109px; } }
  @media screen and (min-width: 1366px) {
    .shell-2-position {
      width: 146px; } }
  @media screen and (min-width: 1440px) {
    .shell-2-position {
      width: 154px; } }
  @media screen and (min-width: 1680px) {
    .shell-2-position {
      width: 179px; } }
  @media screen and (min-width: 1920px) {
    .shell-2-position {
      width: 205px; } }

.shell-3-position {
  position: absolute;
  left: 25%;
  top: 65%;
  transform: translate(-25%, -65%); }
  @media screen and (min-width: 1024px) {
    .shell-3-position {
      width: 89px; } }
  @media screen and (min-width: 1366px) {
    .shell-3-position {
      width: 119px; } }
  @media screen and (min-width: 1440px) {
    .shell-3-position {
      width: 125px; } }
  @media screen and (min-width: 1680px) {
    .shell-3-position {
      width: 145px; } }
  @media screen and (min-width: 1920px) {
    .shell-3-position {
      width: 166px; } }

.trash-straws-position {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%); }
  @media screen and (min-width: 1024px) {
    .trash-straws-position {
      width: 80px; } }
  @media screen and (min-width: 1366px) {
    .trash-straws-position {
      width: 107px; } }
  @media screen and (min-width: 1440px) {
    .trash-straws-position {
      width: 113px; } }
  @media screen and (min-width: 1680px) {
    .trash-straws-position {
      width: 131px; } }
  @media screen and (min-width: 1920px) {
    .trash-straws-position {
      width: 150px; } }

.trash-wrappers-position {
  position: absolute;
  top: 75%;
  left: 35%;
  transform: translate(-35%, -75%); }
  @media screen and (min-width: 1024px) {
    .trash-wrappers-position {
      width: 147px; } }
  @media screen and (min-width: 1366px) {
    .trash-wrappers-position {
      width: 196px; } }
  @media screen and (min-width: 1440px) {
    .trash-wrappers-position {
      width: 207px; } }
  @media screen and (min-width: 1680px) {
    .trash-wrappers-position {
      width: 242px; } }
  @media screen and (min-width: 1920px) {
    .trash-wrappers-position {
      width: 276px; } }

.trash-net-position {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-70%, -30%); }
  @media screen and (min-width: 1024px) {
    .trash-net-position {
      width: 120px; } }
  @media screen and (min-width: 1366px) {
    .trash-net-position {
      width: 160px; } }
  @media screen and (min-width: 1440px) {
    .trash-net-position {
      width: 169px; } }
  @media screen and (min-width: 1680px) {
    .trash-net-position {
      width: 197px; } }
  @media screen and (min-width: 1920px) {
    .trash-net-position {
      width: 225px; } }

.trash-plastics-position {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-20%, -55%); }
  @media screen and (min-width: 1024px) {
    .trash-plastics-position {
      width: 92px; } }
  @media screen and (min-width: 1366px) {
    .trash-plastics-position {
      width: 123px; } }
  @media screen and (min-width: 1440px) {
    .trash-plastics-position {
      width: 130px; } }
  @media screen and (min-width: 1680px) {
    .trash-plastics-position {
      width: 151px; } }
  @media screen and (min-width: 1920px) {
    .trash-plastics-position {
      width: 173px; } }

.trash-styrofoam-position {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(-5%, -20%); }
  @media screen and (min-width: 1024px) {
    .trash-styrofoam-position {
      width: 100px; } }
  @media screen and (min-width: 1366px) {
    .trash-styrofoam-position {
      width: 134px; } }
  @media screen and (min-width: 1440px) {
    .trash-styrofoam-position {
      width: 142px; } }
  @media screen and (min-width: 1680px) {
    .trash-styrofoam-position {
      width: 165px; } }
  @media screen and (min-width: 1920px) {
    .trash-styrofoam-position {
      width: 189px; } }

.trash-sixpack-position {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-60%, -90%); }
  @media screen and (min-width: 1024px) {
    .trash-sixpack-position {
      width: 70px; } }
  @media screen and (min-width: 1366px) {
    .trash-sixpack-position {
      width: 100px; } }
  @media screen and (min-width: 1440px) {
    .trash-sixpack-position {
      width: 280px; } }
  @media screen and (min-width: 1680px) {
    .trash-sixpack-position {
      width: 327px; } }
  @media screen and (min-width: 1920px) {
    .trash-sixpack-position {
      width: 137px; } }

#straws, #wrappers, #net, #plastics, #styrofoam, #sixPack {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

#straws::active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

#wrappers:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

#net:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

#plastics:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

#styrofoam:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

#sixPack:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.tote {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 3rem 3rem;
  /* Trash goes "into" bag  z-index: 99; */ }
  @media screen and (min-width: 1024px) {
    .tote {
      width: 180px;
      height: 353px; } }
  @media screen and (min-width: 1680px) {
    .tote {
      width: 263px;
      height: 520px; } }

.tote img {
  max-width: 100%; }

.recycle-icon {
  position: absolute;
  bottom: 20px;
  right: 25px;
  color: darkgreen;
  cursor: pointer;
  font-size: 1.5rem; }

.albatross-bg-2 {
  background-image: url(../img/albatross-scene-colored.png);
  background-repeat: no-repeat;
  animation: background 5s;
  animation-fill-mode: forwards; }

@keyframes background {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.whale-position {
  position: absolute;
  top: 7%;
  left: 80%;
  transform: translate(-80%, -7%);
  z-index: 1; }
  @media screen and (min-width: 1024px) {
    .whale-position {
      width: 306px; } }
  @media screen and (min-width: 1366px) {
    .whale-position {
      width: 408px; } }
  @media screen and (min-width: 1440px) {
    .whale-position {
      width: 430px; } }
  @media screen and (min-width: 1680px) {
    .whale-position {
      width: 502px; } }
  @media screen and (min-width: 1920px) {
    .whale-position {
      width: 574px; } }

.whale-position img {
  max-width: 100%; }

#whaleTrash1 {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-10%, -70%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash1 {
      width: calc(157px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash1 {
      width: calc(157px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash1 {
      width: calc(157px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash1 {
      width: calc(157px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash1 {
      width: 157px; } }

#whaleTrash2 {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-60%, -80%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash2 {
      width: calc(176px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash2 {
      width: calc(176px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash2 {
      width: calc(176px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash2 {
      width: calc(176px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash2 {
      width: 176px; } }

#whaleTrash3 {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-25%, -60%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash3 {
      width: calc(188px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash3 {
      width: calc(188px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash3 {
      width: calc(188px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash3 {
      width: calc(188px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash3 {
      width: 188px; } }

#whaleTrash4 {
  position: absolute;
  top: 95%;
  left: 70%;
  transform: translate(-70%, -95%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash4 {
      width: calc(146px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash4 {
      width: calc(146px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash4 {
      width: calc(146px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash4 {
      width: calc(146px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash4 {
      width: 146px; } }

#whaleTrash5 {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-90%, -90%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash5 {
      width: calc(111px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash5 {
      width: calc(111px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash5 {
      width: calc(111px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash5 {
      width: calc(111px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash5 {
      width: 111px; } }

#whaleTrash6 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash6 {
      width: calc(71px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash6 {
      width: calc(71px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash6 {
      width: calc(71px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash6 {
      width: calc(71px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash6 {
      width: 71px; } }

#whaleTrash7 {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-40%, -70%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash7 {
      width: calc(99px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash7 {
      width: calc(99px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash7 {
      width: calc(99px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash7 {
      width: calc(99px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash7 {
      width: 99px; } }

#whaleTrash8 {
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-85%, -75%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash8 {
      width: calc(182px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash8 {
      width: calc(182px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash8 {
      width: calc(182px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash8 {
      width: calc(182px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash8 {
      width: 182px; } }

#whaleTrash9 {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-35%, -45%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash9 {
      width: calc(133px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash9 {
      width: calc(133px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash9 {
      width: calc(133px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash9 {
      width: calc(133px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash9 {
      width: 133px; } }

#whaleTrash10 {
  position: absolute;
  top: 90%;
  left: 15%;
  transform: translate(-15%, -90%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash10 {
      width: calc(114px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash10 {
      width: calc(114px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash10 {
      width: calc(114px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash10 {
      width: calc(114px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash10 {
      width: 114px; } }

#whaleTrash11 {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-30%, -85%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash11 {
      width: calc(262px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash11 {
      width: calc(262px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash11 {
      width: calc(262px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash11 {
      width: calc(262px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash11 {
      width: 262px; } }

#whaleTrash12 {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-15%, -35%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash12 {
      width: calc(67px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash12 {
      width: calc(67px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash12 {
      width: calc(67px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash12 {
      width: calc(67px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash12 {
      width: 67px; } }

#whaleTrash13 {
  position: absolute;
  top: 70%;
  left: 72%;
  transform: translate(-72%, -70%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash13 {
      width: calc(238px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash13 {
      width: calc(238px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash13 {
      width: calc(238px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash13 {
      width: calc(238px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash13 {
      width: 238px; } }

#whaleTrash14 {
  position: absolute;
  top: 65%;
  left: 95%;
  transform: translate(-95%, -65%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash14 {
      width: calc(88px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash14 {
      width: calc(88px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash14 {
      width: calc(88px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash14 {
      width: calc(88px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash14 {
      width: 88px; } }

#whaleTrash15 {
  position: absolute;
  top: 95%;
  left: 5%;
  transform: translate(-5%, -95%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash15 {
      width: calc(60px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash15 {
      width: calc(60px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash15 {
      width: calc(60px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash15 {
      width: calc(60px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash15 {
      width: 60px; } }

#whaleTrash16 {
  position: absolute;
  top: 55%;
  left: 2%;
  transform: translate(-2%, -55%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash16 {
      width: calc(96px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash16 {
      width: calc(96px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash16 {
      width: calc(96px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash16 {
      width: calc(96px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash16 {
      width: 96px; } }

#whaleTrash17 {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-55%, -70%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash17 {
      width: calc(119px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash17 {
      width: calc(119px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash17 {
      width: calc(119px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash17 {
      width: calc(119px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash17 {
      width: 119px; } }

#whaleTrash18 {
  position: absolute;
  top: 90%;
  left: 57%;
  transform: translate(-57%, -90%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash18 {
      width: calc(116px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash18 {
      width: calc(116px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash18 {
      width: calc(116px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash18 {
      width: calc(116px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash18 {
      width: 116px; } }

#whaleTrash19 {
  position: absolute;
  top: 98%;
  left: 40%;
  transform: translate(-40%, -98%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash19 {
      width: calc(346px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash19 {
      width: calc(346px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash19 {
      width: calc(346px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash19 {
      width: calc(346px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash19 {
      width: 346px; } }

#whaleTrash20 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    #whaleTrash20 {
      width: calc(81px * .533333333); } }
  @media screen and (min-width: 1366px) {
    #whaleTrash20 {
      width: calc(181px * .71145); } }
  @media screen and (min-width: 1440px) {
    #whaleTrash20 {
      width: calc(81px * .75); } }
  @media screen and (min-width: 1680px) {
    #whaleTrash20 {
      width: calc(81px * .875); } }
  @media screen and (min-width: 1920px) {
    #whaleTrash20 {
      width: 81px; } }

/* Trash Items */
.recycling-placement {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 750px;
  height: auto;
  align-items: baseline;
  z-index: 100; }

.recyclingBins {
  width: 150px;
  margin: 0.25rem; }

.recyclingBins img {
  max-width: 100%; }

/* Hover effect: highlight trash items based on their category */
.trash-hover-plastic {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-plastic:hover {
    border: 1px solid yellow;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

.trash-hover-cans {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-cans:hover {
    border: 1px solid orange;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

.trash-hover-glass {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-glass:hover {
    border: 1px solid blue;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

.trash-hover-paper {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-paper:hover {
    border: 1px solid green;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

.trash-hover-waste {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-waste:hover {
    border: 1px solid gray;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

.trash-hover-tote {
  -webkit-transition: all 0.50s;
  transition: all 0.50s; }
  .trash-hover-tote:hover {
    border: 1px solid white;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s; }

#fishModalWrap {
  z-index: 9; }

.micro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  cursor: url(../img/net-cursor.png), auto; }

#micro-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../img/fish-micro-haze.png);
  animation-name: microplastics-1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

#micro-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(../img/fish-micro-beads.png);
  animation-name: microplastics-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

#micro-3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url(../img/fish-micro-fibers.png);
  animation-name: microplastics-3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

#micro-4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-image: url(../img/fish-micro-nurdles.png);
  animation-name: microplastics-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

#micro-5 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: url(../img/fish-micro-fragments.png);
  animation-name: microplastics-5;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

#micro-6 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-image: url(../img/fish-micro-foam.png);
  animation-name: microplastics-6;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

#micro-7 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 7; }
  @media screen and (min-width: 1024px) {
    #micro-7 {
      width: 331px; } }
  @media screen and (min-width: 1366px) {
    #micro-7 {
      width: 441px; } }
  @media screen and (min-width: 1440px) {
    #micro-7 {
      width: 465px; } }
  @media screen and (min-width: 1680px) {
    #micro-7 {
      width: 543px; } }
  @media screen and (min-width: 1920px) {
    #micro-7 {
      width: 620px; } }

.seaweed-placement {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 8; }
  @media screen and (min-width: 1024px) {
    .seaweed-placement {
      width: 293px; } }
  @media screen and (min-width: 1366px) {
    .seaweed-placement {
      width: 391px; } }
  @media screen and (min-width: 1440px) {
    .seaweed-placement {
      width: 413px; } }
  @media screen and (min-width: 1680px) {
    .seaweed-placement {
      width: 481px; } }
  @media screen and (min-width: 1920px) {
    .seaweed-placement {
      width: 550px; } }

.micro-popups {
  display: none; }

.fish-background-change {
  background-image: url(../img/fish-scene-with-reef.png);
  animation: background 2s;
  animation-fill-mode: forwards; }

/* Microplastic Animation */
@keyframes microplastics-1 {
  0% {
    width: 100%;
    opacity: 1; }
  50% {
    width: 110%;
    opacity: 0.5; }
  100% {
    width: 100%;
    opacity: 1; } }
@keyframes microplastics-2 {
  0% {
    left: 0;
    bottom: 0;
    opacity: 1; }
  50% {
    left: 5px;
    bottom: 20px;
    opacity: 0.5; }
  75% {
    left: -5px;
    bottom: -20px;
    opacity: 0.75; }
  100% {
    left: 0;
    bottom: 0;
    opacity: 1; } }
@keyframes microplastics-3 {
  0% {
    right: 0;
    top: 0;
    opacity: 1; }
  50% {
    right: 5px;
    top: 5px;
    opacity: 0.5; }
  75% {
    right: -5px;
    top: -5px;
    opacity: 0.75; }
  100% {
    right: 0;
    top: 0;
    opacity: 1; } }
@keyframes microplastics-4 {
  0% {
    top: 0;
    left: 0; }
  50% {
    left: 10px;
    top: 5px; }
  75% {
    left: -10px;
    top: -5px; }
  100% {
    top: 0;
    left: 0; } }
@keyframes microplastics-5 {
  0% {
    top: 0;
    left: 0; }
  50% {
    left: 5px;
    top: 25px; }
  75% {
    left: -5px;
    top: -25px; }
  100% {
    top: 0;
    left: 0; } }
@keyframes microplastics-6 {
  0% {
    top: 0;
    left: 0; }
  50% {
    left: -15px;
    top: -25px; }
  75% {
    left: 15px;
    top: 25px; }
  100% {
    top: 0;
    left: 0; } }

/*# sourceMappingURL=style.css.map */
